---
name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  goreleaser:
    name: Build with goreleaser
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          check-latest: true

      - name: Generate GitHub app token
        id: github-app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: adaricorp

      - name: Configure git authentication
        run: |
          git config --global url."https://x-access-token:${{ steps.github-app-token.outputs.token }}@github.com/".insteadOf "https://github.com/"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --skip=publish --snapshot

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ruckus-sz-agent
          path: dist/

  codechecks:
    name: Code checks
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          check-latest: true

      - name: Generate GitHub app token
        id: github-app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: adaricorp

      - name: Configure git authentication
        run: |
          git config --global url."https://x-access-token:${{ steps.github-app-token.outputs.token }}@github.com/".insteadOf "https://github.com/"

      - name: Bootstrap
        run: ./boot.sh

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          only-new-issues: true

      - name: Govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: ""
          check-latest: true
          go-version-file: "go.mod"
          cache: false
          repo-checkout: false
